vs/
vs
.vs
bin/
obj/
KutuphaneCore/bin/
KutuphaneCore/obj/
KutuphaneCore/vs/

KutuphaneDataAccess/bin/
KutuphaneDataAccess/obj/
KutuphaneDataAccess/vs/


kutuphaneServis/bin/
kutuphaneServis/obj/
kutuphaneServis/vs/

UdemyKutuphaneAPI/bin/
UdemyKutuphaneAPI/obj/
UdemyKutuphaneAPI/vs/